@import '../../../sass/variables';
@import '../../../sass/headers';
@import '../../../sass/mixins';

.message {
	@extend .section-header;
	color: #fff;
	display: flex;
	text-transform: none;
    display: none;
	
	@include e('icon') {
		flex: 1 10%;
		text-align: right;
		font-size: 2rem;
		line-height: 1;
		padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            transition: $transition;
        }
	}

	@include e('content')	 {
		flex: 1 80%;
		display: flex;
		align-items: center;
        transition: $transition;
	}

	@include e('close') {
		flex: 1 10%;
		font-size: 2rem;
		line-height: 1;
		cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

		i {
			transition: $transition;

			&:hover {
				color: darken(#fff, 10%);
			}
		}
	}

	@include m('success') {
		background-color: rgba($tertiary-color, .4);
	}

	@include m('warning') {
		background-color: rgba($quinary-color, .4);
	}

	@include m('info') {
		background-color: rgba($quaternary-color, .4);
	}

	@include m('error') {
		background-color: rgba($senary-color, .4);
	}
}