@import "../../../sass/variables";
@import "../../../sass/mixins";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @include m('diablo') {
    background: rgba($primary-color, 0.4);
    height: 80px;
    margin: 0;
    padding: 0;

    .nav {
      float: right;
      height: 100%;
    }

    .nav-item {
      margin-left: 2rem !important;
      height: 100%;
    }

    .nav-link {
      color: #fff !important;
      font-size: 14px;
      font-weight: 100;
      letter-spacing: 2px;
      padding: 24px 0;
      text-transform: uppercase;
      transition: all 0.3s ease;
      height: 80px;

      &:hover .nav-link__subtext {
        color: $secondary-color !important;
      }

      @include e('subtext') {
        color: rgba(255,255,255, .7);
        display: block;
        font-size: 9px;
        text-transform: lowercase;
        transition: all 0.3s ease;
      }
    }

    .navbar-brand {
      margin: 0;
      padding: 0;

      img {
        display: inline-block;
        width: 45px;
        padding: 24px 0;
        transition: all 0.3s ease;
      }
    }
  }

  @include m('scroll') {
    height: 35px !important;
    transition: all 0.5s ease;
    background: rgba($primary-color, 0.9) !important;

    .nav-link {
      padding: 7px 0 !important;

      .nav-link__subtext {
        display: none;
      }
    }

    .navbar-brand {
      img {
        padding: 0 !important;
      }

      .navbar-brand__text {
        display: none !important;
      }
    }
  }
}