@import "../../../sass/variables";
@import "../../../sass/mixins";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: rgba($primary-color, 0.4);
    margin: 0;
    padding: 0;

    @include e('logo') {
        width: 35px;
        transition: $transition;
    }

    @include e('items') {
        list-style: none;
        margin: 0 0 0 auto;
        padding: 0;
        display: flex;
    }

    @include e('item') {
        padding: 1.6rem 1rem;
        transition: $transition;
    }

    @include e('link') {
        color: #fff;
        font-size: .9rem;
        font-weight: 100;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: $transition;

        &:hover {
            text-decoration: none;
            color: #fff;
            .nav__link__subtext {
                color: $secondary-color !important;
            }
        }

        @include e('subtext') {
            color: rgba(255, 255, 255, .6);
            display: block;
            font-size: 9px;
            text-transform: lowercase;
            transition: $transition;
        }
    }

    @include e('container') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    @include m('scroll') {
        background: rgba($primary-color, 0.9) !important;

        .nav__item {
            padding: .9rem 1rem;

            .nav__link {
                &:hover {
                    color: $secondary-color;
                }
            }

            .nav__link__subtext {
            display: none;
            }
        }
    }
}