@import "../../../sass/variables";
@import "../../../sass/mixins";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: rgba($primary-color, 0.4);
    margin: 0;
    padding: 0;

    @include e('logo') {
        position: relative;
        width: 270px;

        &:hover {
            .nav__logo__text {
                transition: $transition;
                margin-left: 0;
                opacity: 1;
            }
        }

        @include e('img') {
            width: 35px;
            transition: $transition;
            position: relative;
        }

        @include e('text') {
            vertical-align: sub;
            text-transform: uppercase;
            color: #fff !important;
            text-decoration: none !important;
            font-size: 1rem;
            letter-spacing: 5px;
            margin-left: 3rem;
            position: absolute;
            top: 4px;
            left: 50px;
            transition: $transition;
            opacity: 0;
            width: 250px;
        }
    }

    @include e('items') {
        list-style: none;
        margin: 0 0 0 auto;
        padding: 0;
        display: flex;
    }

    @include e('item') {
        padding: 1.6rem 1rem;
        transition: $transition;
        position: relative;

        @include m('active') {
            &:after {
                content: '';
                position: absolute;
                background: #fff;
                height: 3px;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    @include e('link') {
        color: #fff;
        font-size: .9rem;
        font-weight: 100;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: $transition;

        &:focus {
            color: #fff !important;
            text-decoration: none !important;
        }

        &:hover {
            text-decoration: none;
            color: #fff;
            .nav__link__subtext {
                color: $secondary-color !important;
            }
        }

        @include e('subtext') {
            color: rgba(255, 255, 255, .6);
            display: block;
            font-size: 9px;
            text-transform: lowercase;
            transition: $transition;
        }
    }

    @include e('container') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    @include m('scroll') {
        background: rgba($primary-color, 0.94) !important;

        .nav__item {
            padding: .9rem 1rem;

            .nav__link {
                &:hover {
                    color: $secondary-color;
                }
            }

            .nav__link__subtext {
                display: none;
            }
        }
    }
}