@import './mixins';
@import './variables';

.block {
	background-color: lighten($primary-color, 10%) !important;
	color: #fff;
	text-align: center;

	@include e('body') {
		padding: 0 1rem 1rem 1rem;

        @include m('flush') {
            padding-left: 0;
            padding-right: 0;
        }

        &:last-child {
          margin-bottom: .5rem;
        }
	}

	@include e('row') {
		padding: 2rem 1rem;
		background-color: rgba($primary-color, .7) !important;
        transition: $transition;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &:hover {
            background-color: rgba($primary-color, .9) !important;
        }
	}

    @include e('col') {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        position: relative;

        @include e('header') {
            margin-right: -5px;
        }
    }

    @include e('header') {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
}