@import './mixins';
@import './variables';

.block {
	background-color: lighten($primary-color, 10%) !important;
	color: #fff;
	text-align: center;

    @include m('gear') {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        color: #fff !important;
        transition: $transition;

        &:hover {
            background-color: lighten($primary-color, 15%) !important;
        }

        .block__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 143px;
        }

        @include e('img') {
            margin: 0 0 auto 0;
        }

        @include e('text') {
            margin: auto 0 0 0 !important;
        }
    }

	@include e('body') {
		padding: 1rem;

        @include m('flush') {
            padding: 0;
        }

        &:last-child {
          margin-bottom: .5rem;
        }
	}

	@include e('row') {
		padding: 2rem 1rem;
		background-color: rgba($primary-color, .7) !important;
        transition: $transition;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &:hover {
            background-color: rgba($primary-color, .9) !important;
        }
	}

    @include e('col') {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        position: relative;

        @include e('header') {
            margin-right: -5px;
        }
    }

    @include e('header') {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
}