@import "variables";
@import "mixins";

.btn {
    border-radius: 0 !important;

    @include m('icon') {
        i {
            transition: $transition;
        }

        &:hover i {
            transform: translateX(1rem);
        }
    }

    @include m('secondary') {
        background-color: transparent;
        border: 2px solid #fff;
        transition: $transition;
        padding: .7rem 3rem;
        color: #fff !important;
        text-decoration: none;
        margin-bottom: .5rem;

        &:hover {
            background-color: rgba($secondary-color, 0.4);
            border-color: transparent;
        }

        &:focus {
            outline: rgba($secondary-color, 0.4) !important;
        }
    }
}