@import "variables";
@import "mixins";

.btn {
    border-radius: 0 !important;

    @include m('secondary') {
        background-color: transparent;
        border: 2px solid #fff;
        transition: $transition;
        padding: .7rem 3rem;
        color: #fff !important;
        text-decoration: none;
        margin-bottom: .5rem;

        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
}