@import './variables';
@import './mixins';

.card {
	border-radius: 0;

	@include m('primary') {
		background-color: lighten($primary-color, 10%);
		border-color: lighten($primary-color, 10%);
		border: none;
		color: #fff;
		border-radius: 0;
	}
}