@import "variables";

h1, h2, h3, h4, h5, h6 {
	font-family: Oswald;
	letter-spacing: 5px;
	color: #fff;
}

.page-header {
	letter-spacing: 10px;
	text-transform: uppercase;
}

.section-header {
	text-transform: uppercase;
}