@import "variables";

h1, h2, h3, h4, h5, h6 {
	font-family: Oswald;
	letter-spacing: 5px;
	color: #fff;
}

.section-wrapper {
	background: rgba($secondary-color, 0.4);
	margin-bottom: 0.5rem;
	
	.section-header {
		text-transform: uppercase;
		padding: 1rem 2rem;
		margin: 0;
	}
}