h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
  letter-spacing: 5px;
  color: #fff;
}

.container {
  margin-top: 0px !important;

  h2.section-header {
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}