@import './mixins';
@import './variables';

.list-group-ranking {
	div {
		&:nth-child(even) li {
			background-color: lighten($primary-color, 5%) !important;
			border-color: lighten($primary-color, 5%) !important;
			&:hover {
				background-color: rgba($secondary-color, 1) !important;
				cursor: pointer;
			}
		}
	}

	@include e('rank') {
		flex-grow: 1;
		flex: 1 5%;
	}

	@include e('rift') {
	  	flex-grow: 1;
	  	flex: 1 5%;
	}

	@include e('class') {
		flex-grow: 2;
		flex: 1 25%;
	}

	@include e('hero') {
	    flex-grow: 2;
	    flex: 1 25%;
	}

	@include e('item') {
	   	background-color: lighten($primary-color, 10%) !important;
		border-color: lighten($primary-color, 10%) !important;
		border: none;
		color: #fff;
		border-radius: 0;
		padding: 0;
		margin-bottom: .5rem !important;
		display: flex;
	    width: 100%;
		>span {
			padding: .5rem 1rem;
		}

		&:hover {
			background-color: rgba($secondary-color, 1) !important;
			cursor: pointer;
		}
	}

	@include e('info') {
		padding-bottom: 1rem;
		color: #fff;

		@media (max-width: 768px) {
			justify-content: flex-end;
		}

		.list-group-item {
			display: flex !important;
		}

		@include e('left') {
			flex-grow: 2;
		}

		@include e('item') {
		   	background-color: lighten($primary-color, 10%) !important;
			border-color: lighten($primary-color, 10%) !important;
			color: #fff;
			border-radius: 0;
			padding: 0;
			margin-bottom: .5rem !important;

			>span {
				padding: .5rem 1rem;
			}

			&:hover {
				background-color: rgba($secondary-color, 1) !important;
				cursor: pointer;
			}
		}
	}
}