@import './mixins';
@import './variables';

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;

	@include e('item') {
		transition: $transition;
		color: #fff;
		padding: .5rem 1rem;
		background-color: lighten($primary-color, 10%) !important;
		width: 100%;
		display: flex;
		margin-bottom: .5rem;
		text-decoration: none !important;

		@include m('link') {

			&:hover {
				color: #fff;
				border-color: transparent;
				background-color: rgba($secondary-color, 1) !important;
				cursor: pointer;
			}

          @include m('softcore') {
            border-left: 4px solid $tertiary-color;
          }

          @include m('hardcore') {
            border-left: 4px solid $secondary-color;
          }
		}

		@include m('header') {
			background-color: darken($primary-color, 5%) !important;
			margin-bottom: 0;
			cursor: auto;

			&:hover {
				background-color: darken($primary-color, 5%) !important;
			}
		}
	}
}