@import "variables";
@import "mixins";

// I'll move this
html, body {
    color: #fff;
}

// Fuck firefox
@-moz-document url-prefix() {
    .img-fluid--fix {
        width: 100% !important;
        max-width: 170px !important;
    }
}

.text {
    @include m('primary') {
        color: $primary-color !important;
    }
    
    @include m('secondary') {
        color: $secondary-color !important;
    }
    
    @include m('tertiary') {
        color: $tertiary-color !important;
    }
    
    @include m('quaternary') {
        color: $quaternary-color !important;
    }

    @include m('quinary') {
        color: $quinary-color !important;
    }

    @include m('barbarian') {
      color: #b52615;
    }

    @include m('crusader') {
      color: #D2B48C;
    }

    @include m('demon-hunter') {
      color: #735289;
    }

    @include m('monk') {
      color: #e5d34d;
    }

    @include m('witch-doctor') {
      color: #46c230;
    }

    @include m('wizard') {
      color: #5fc6e5;
    }
}

.img-center {
  margin: 0 auto;
}

.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin-top: 10px;
}

.flex {
    display: flex;
}

@for $i from 1 through 10 {
  .flex-#{$i}0 {
    flex: 1 #{$i}0%;
  }
  .flex-#{$i}5 {
    flex: 1 #{$i}5%;
  }
}

.divider:after {
  content: " ";
  position: absolute;
  right: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: lighten($primary-color, 10%);

  @media (max-width: 768px) {
    left: 0;
    bottom: 0;
    top: unset;
    width: 40%;
    height: 1px;
    margin: 0px auto;
    text-align: center;
  }
}

.battlenet-link {
  transition: $transition;
  font-size: 2rem;
  text-decoration: none !important;
}

.class-portrait {
    border-radius: 50%;
    border: 1px solid #7e7e7e;
}

.form-control {
    border-radius: 0 !important;
}

.p-r {
    padding: .5rem !important;
}

.p-t-r {
    padding-top: .5rem;
}

.p-b-r {
    padding-bottom: .5rem;
}

.p-l-r {
    padding-bottom: .5rem;
}

.p-r-r {
    padding-bottom: .5rem;
}