@import "variables";
@import "mixins";

.text {
    @include m('primary') {
        color: $primary-color !important;
    }
    
    @include m('secondary') {
        color: $secondary-color !important;
    }

    @include m('tertiary') {
        color: $tertiary-color !important;
    }

    @include m('barbarian') {
      color: #b52615;
    }

    @include m('crusader') {
      color: #D2B48C;
    }

    @include m('demon-hunter') {
      color: #735289;
    }

    @include m('monk') {
      color: #e5d34d;
    }

    @include m('witch-doctor') {
      color: #46c230;
    }

    @include m('wizard') {
      color: #5fc6e5;
    }
}