@import "../../../sass/variables";
@import '../../../sass/mixins';

.top-banner {
	position: relative;
	display: flex;
	min-height: 550px;
	align-items: center;
	justify-content: center;
	width: 100%;


	@include e('image') {
		background: url('/img/bg.jpg') no-repeat fixed;
		background-size: cover;
		background-position: 50% -150px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0.6;
	}

	@include e('text') {
		position: relative;
		width: 100%;
		text-transform: uppercase;

		h1 {
			letter-spacing: 8.5px !important;
		}
	}
}