@import "../../../sass/variables";
@import '../../../sass/mixins';

.icons {
    justify-content: space-around;
    margin-top: 5rem;
    color: #fff;
    display: flex;

    i {
        font-size: 3em;
        color: #fff;
        padding: 2rem;
        background-color: rgba($primary-color, 0.6);
        transition: $transition;

        &:hover {
            background-color: rgba($primary-color, 0.8);
        }
    }

    p {
        text-align: center;
    }
}

footer {
    background-color: rgba($secondary-color, 0.3);
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;

    .container {
        margin-top: 0;
        text-transform: none;
    }
}