@import "../../../sass/mixins";
@import "../../../sass/variables";

.leaderboard {
	li {
		border-radius: 0 !important;
		background: none;
		border: none;
		transition: $transition;

		a {
			color: #fff;
		}
	}

	@include e('rankings') {
		.col-md-6 {
			width: 100%;
		}
	}

	@include e('classes') {
		@include e('class') {
			background-color: lighten($primary-color, 10%) !important;
			border-color: lighten($primary-color, 10%) !important;
			height: 100%;
			display: block;
			margin-bottom: 0.5rem;
			transition: $transition;

			&:hover {
				background-color: rgba($secondary-color, 0.3) !important;
				cursor: pointer;
			}
		}
	}

	/* always present */
	.expand-transition {
		transition: all .4s ease;
		height: 300px;
		overflow: hidden;
	}

	/* .expand-enter defines the starting state for entering */
	/* .expand-leave defines the ending state for leaving */
	.expand-enter, .expand-leave {
		height: 0;
		opacity: 0;
	}
}