@import "../../../sass/mixins";
@import "../../../sass/variables";

section.content {
	margin-top: 0.5rem;
}

.leaderboard {
	li {
		border-radius: 0 !important;
		background: none;
		border: none;
		transition: $transition;

		a {
			color: #fff;
		}
	}
}

.leaderboard-rankings {
	padding: 0 1rem;
}

.banner {
	@include e('content') {
		h1 {
			letter-spacing: 8.5px !important;
		}
	}
}