@import "../../../sass/mixins";
@import "../../../sass/variables";

section.content {
	margin-top: 0.5rem;
}

.leaderboard {
	li {
		border-radius: 0 !important;
		background: none;
		border: none;
		transition: $transition;

		a {
			color: #fff;
		}
	}
}

.leaderboard-classes {
	display: flex;
	padding: 0px 1rem;

	@include e('class') {
		background-color: lighten($primary-color, 10%) !important;
		border-color: lighten($primary-color, 10%) !important;
		margin-bottom: 0.5rem;
		transition: $transition;
		display: inherit;

		img {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			display: block;
		}

		&:hover {
            background-color: rgba($secondary-color, .4) !important;
			cursor: pointer;
		}
	}
}

.leaderboard-rankings {
	padding: 0 1rem;

	.section-header {
		@include m('left') {
			margin-left: -31px;

			@media (max-width: 767px) {
				margin-right: -31px;
			}
		}

		@include m('right') {
			margin-right: -31px;

			@media (max-width: 767px) {
				margin-left: -31px;
			}
		}
	}
}

.banner {
	@include e('content') {
		h1 {
			letter-spacing: 8.5px !important;
		}
	}
}